* {
  box-sizing: border-box;
}
.product-list .product {
  width: 100%;
  min-width: 320px;
}
.product-list .product-image {
  float: left;
  margin-right: 20px;
}
.product {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding-bottom: 18px;
}
.product:hover {
  border: 1px solid #aaa;
  cursor: pointer;
}

a{
  color:#7a8387;
}
a:hover{
  text-decoration: none;
}
.btn-primary{
  background-color: #7a8387;
}
@media screen and (max-width: 768px) {
.prat-makai{
  overflow: hidden;
  display: none;
}
}

@media screen and (min-width: 1300px) {
  .prat-makai-m{
    overflow: hidden;
    display: none;
}
}
  
.span3 {
  width: 24%;
}

.span3-m {
  width: 93%;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 5px;
}
.product-name{
  height: 80px;
  overflow: hidden;
  word-break: break-word;
}
.product-price{
  padding-bottom: 13px;
  font-weight: 900;
}

.comp{
  background-color: #52d5a6;
  padding: 3px;
  border-radius: 18px;
  color: #fff;
  font-size: 83%;
  margin: 6%;
}

.comp-m{
  background-color: #52d5a6;
  padding: 3px;
  border-radius: 18px;
  color: #fff;
  font-size: 90%;
  margin: -5%;
}

